<h1> Add Question</h1>
<a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference"
    target="_blank">ASCII Math Quick Reference</a>
<table>
    <tr>
        <td>ASCII Math Formula:</td>
        <td style="width: 100px;"></td>
        <td>Preview :</td>
    </tr>
    <tr>
        <td>
            <textarea rows="8" placeholder="Enter text here..." style="width:500px"
                [(ngModel)]="mathContent"></textarea>
        </td>
        <td></td>
        <td>
            <math-jax [content]='mathContent'></math-jax>
        </td>
    </tr>
</table>